* ,body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: rgba(241, 242, 244, 1.00);
}
.headerContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff ;
  height:80px;
  width:100vw;
  padding: 20px 40px;
}
.headerName{
  font-size: 27px;
  font-weight: bold;
  background-color: #fff ;

}
.cartlogo{
  width:80px
}
@media (max-width:790px){
  .headerName{
    font-size: 21px;
  }
  .cartlogo{
    width:50px
  }
  
  
}
@media (max-width:480px){
  .headerName{
    font-size: 17px;
  }
  .cartlogo{
    width:40px
  }
  
  
}